/***
* website: http://www.wxyweb.com
* author: wangxinyan
* data: 2020/1/18
*/

/*reset start*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {margin: 0; padding: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}
pre, code, address, caption, cite, code, em, dfn, strong, th, var, figcaption {
	font-weight: normal;
	font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
fieldset, img {
	border: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th {
	text-align: left;
}
ul, li {
	list-style: none;
}
sup {
	vertical-align: text-top;
}
sub {
	vertical-align: text-bottom;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
audio, canvas, case {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
q:before, q:after {
	content: '';
}
abbr, acronym {
	border: 0;
	font-variant: normal;
}
a, input, button, textarea, select, optgroup, option {
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
	outline: 0;
}
input, textarea, select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
input, textarea, select {
	*font-size:100%
}
/* reset end*/

/* 一级标题及导航 #fa2f2f */
/* 二级标题 #ff5b36 */
/* 重点文案主色调 #c9141d */

html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}
a {
	text-decoration: none;
}
/*flex 盒子布局*/
/*水平等宽分布*/
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex1 {
  -webkit-box-flex: 1;
  -ms-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

/*文字对齐方式*/
.ta-c {text-align: center;}
.ta-l {text-align: left;}
.ta-r {text-align: right;}

/*文字大小*/
.fz12 {font-size: 12px !important;}
.fz13 {font-size: 13px !important;}
.fz14 {font-size: 14px !important;}
.fz15 {font-size: 15px !important;}
.fz16 {font-size: 16px !important;}
.fz18 {font-size: 18px !important;}
.fz20 {font-size: 20px !important;}
.fz22 {font-size: 22px !important;}

.mt0{margin-top: 0 !important;}
.mt5{margin-top: 5px !important;}
.mt10{margin-top: 10px !important;}
.mt12{margin-top: 12px !important;}
.mt15{margin-top: 15px !important;}
.mt20{margin-top: 20px !important;}
.mt25{margin-top: 25px !important;}
.mt30{margin-top: 30px !important;}
.mt40{margin-top: 40px !important;}
.mt50{margin-top: 50px !important;}
.mt60{margin-top: 60px !important;}
.mt70{margin-top: 70px !important;}
.mt80{margin-top: 80px !important;}
.mt90{margin-top: 90px !important;}
.mt100{margin-top: 100px !important;}

.ml0{margin-left: 0 !important;}
.ml5{margin-left: 5px !important;}
.ml10{margin-left: 10px !important;}
.ml12{margin-left: 12px !important;}
.ml15{margin-left: 15px !important;}
.ml20{margin-left: 20px !important;}
.ml25{margin-left: 25px !important;}
.ml30{margin-left: 30px !important;}
.ml50{margin-left: 50px !important;}

.mr0{margin-right: 0 !important;}
.mr5{margin-right: 5px !important;}
.mr10{margin-right: 10px !important;}
.mr12{margin-right: 12px !important;}
.mr15{margin-right: 15px !important;}
.mr20{margin-right: 20px !important;}
.mr25{margin-right: 25px !important;}
.mr30{margin-right: 30px !important;}
.mr50{margin-right: 50px !important;}

.mb0{margin-bottom: 0 !important;}
.mb5{margin-bottom: 5px !important;}
.mb10{margin-bottom: 10px !important;}
.mb12{margin-bottom: 12px !important;}
.mb15{margin-bottom: 15px !important;}
.mb20{margin-bottom: 20px !important;}
.mb25{margin-bottom: 25px !important;}
.mb30{margin-bottom: 30px !important;}
.mb50{margin-bottom: 50px !important;}

.pt0{padding-top: 0 !important;}
.pt5{padding-top: 5px !important;}
.pt10{padding-top: 10px !important;}
.pt12{padding-top: 12px !important;}
.pt15{padding-top: 15px !important;}
.pt20{padding-top: 20px !important;}
.pt25{padding-top: 25px !important;}
.pt30{padding-top: 30px !important;}
.pt50{padding-top: 50px !important;}

.pl0{padding-left: 0 !important;}
.pl5{padding-left: 5px !important;}
.pl10{padding-left: 10px !important;}
.pl12{padding-left: 12px !important;}
.pl15{padding-left: 15px !important;}
.pl20{padding-left: 20px !important;}
.pl25{padding-left: 25px !important;}
.pl30{padding-left: 30px !important;}
.pl50{padding-left: 50px !important;}

.pr0{padding-right: 0 !important;}
.pr5{padding-right: 5px !important;}
.pr10{padding-right: 10px !important;}
.pr12{padding-right: 12px !important;}
.pr15{padding-right: 15px !important;}
.pr20{padding-right: 20px !important;}
.pr25{padding-right: 25px !important;}
.pr30{padding-right: 30px !important;}
.pr50{padding-right: 50px !important;}

.pb0{padding-bottom: 0 !important;}
.pb5{padding-bottom: 5px !important;}
.pb10{padding-bottom: 10px !important;}
.pb12{padding-bottom: 12px !important;}
.pb15{padding-bottom: 15px !important;}
.pb20{padding-bottom: 20px !important;}
.pb25{padding-bottom: 25px !important;}
.pb30{padding-bottom: 30px !important;}
.pb50{padding-bottom: 50px !important;}

.red {
	color: #990030;
}
.my-website .container,.my-blog .container,.my-news .container,.my-soccer .container,.my-soccer .my-case {
	width: 1200px;
	margin: 0 auto;
	text-align: left;
}
/* 文章宽度 */
.my-blogs .container {
	width: 1200px;
	margin: 0 auto;
	text-align: left;
	padding-bottom: 50px;
	-webkit-animation: offsetLeft .6s ease-in-out both;
  animation: offsetLeft .6s ease-in-out both;
}
.my-blogs .container h1 {
	font-size: 18px;
	font-weight: bold;
	color: #fa2f2f;
	font-family: "Microsoft Yahei Font";
}
.my-blogs .container .section, .my-blogs .container p {
	margin-top: 20px;
	line-height: 2;
	font-size: 16px;
	font-family: "plantc";
}
.my-blogs .container .red {
	color: #990030;
}

/* 案例页面样式 */
.case-box {
	position: relative;
	left: 180px;
	top: 20px;
	width: calc(100% - 230px);
	padding-left: 50px;
	text-align: left;
}
/* 设置动画 */
@keyframes offsetLeft {
  0%{
    opacity:0;
    -webkit-transform:translate3d(10px, 0, 0);
    transform:translate3d(10px, 0, 0);
  }100%{
    opacity:1;
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
  }
}
